body {
    display: flex;
    justify-content: center;   /* horizontal center */
    align-items: center;       /* vertical center */
    height: 100vh;             /* full viewport height */
    margin: 0;
}

#header {
    text-align: center;
    margin-bottom: 20px;
    border: 3px solid #130303;
    padding: 20px;
    border-radius: 10px;
}   
