body {
    display: flex;
    justify-content: center;   /* horizontal center */
    align-items: center;       /* vertical center */
    height: 100vh;             /* full viewport height */
    margin: 0;
}






.time{
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 60px;
    font-weight: bold;
    border: 7px solid black;
    border-radius: 30px;
    padding: auto;
    /* margin-top: 300;
    margin-left: 500px;
    margin-right: 500px; */
    background-color: black;    
    text-align: center;
    color: rgb(20, 198, 133);
}

#banner{
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #815795;
}

#clock{
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: orange;
}